@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");

* {
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: none;
  font-family: "Roboto", sans-serif;
}

/* cursor */
.cursor {
  pointer-events: none;
}

.cursor__ball--big {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball--small {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

circle {
  fill: #f2f2f2;
}

/* header section */
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
}

.heading-tech h1 {
  font-size: 40px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  padding: 12px;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 15px 0;
  }
}

/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 24px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.sidepanel .logo img {
  padding: 15px 0px;
  margin: 0;
  max-height: 40px;
}

/* The sidepanel links */
.sidepanel a {
  text-decoration: none;
  font-size: 25px;
  color: #2c2f32;
  display: block;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .sidepanel a {
    display: flex;
  }
}

@media (max-width: 768px) {
  .sidepanel .hidden-mobile {
    display: none;
  }
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

.side h3 {
  color: #ff6d2f;
  font-size: 2rem;
  font-weight: bold;
}

.closebtn {
  border: none;
  padding: 0px 100px;
}

@media (max-width: 768px) {
  .closebtn {
    padding: 0px 0px;
  }
}

.side {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

/* top section  */

.background {
  background: url(../../images/about/image\ 42.png), #070808;
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 100%;
  height: 100vh;
  background-position: right;
}

.background p {
  color: orange;
  position: absolute;
  top: 45%;
  left: 25%;
  font-size: 2rem;
  font-weight: 600;
  color: #ff6d2f;
}
.background p span {
  font-size: 3rem;
}

@media only screen and (max-width: 700px) {
  .background p {
    font-size: 1.2rem;
  }
  .background p span {
    font-size: 2rem;
  }
  .background {
    background-position: center;
  }
}
/* text after top  */

.text-background {
  background-color: #070808;
  padding: 15% 15% 5% 15%;
}

.text-background p {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #8b9199;
}
.text-background .text1 {
  margin-right: 40%;
  margin-bottom: 15rem;
}
.text-background .text2 {
  margin-left: 40%;
  margin-top: 20%;
}

@media only screen and (max-width: 1059px) {
  .text-background .text1 {
    margin-right: 10%;
  }
  .text-background p {
    font-size: 1.8rem;
  }
  .text-background .text2 {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .text-background .text1 {
    margin-right: 0%;
  }
  .text-background p {
    font-size: 1rem;
  }
  .text-background .text2 {
    margin-left: 0%;
  }
}

/* body start  */
.projects {
  background-color: #f2f2f2;
}
.projects .sticky-text,
.services .sticky-text {
  position: absolute;
  overflow: visible;
  height: 220%;
  left: 11vw;
}

.projects .sticky-text h1,
.services .sticky-text h1 {
  font-size: 2rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #8b9199;
  position: sticky;
  top: 15%;
}

.projects .sticky-text {
  height: 700%;
}

.projects.ps {
  padding-left: 25%;
}

.projects.pe {
  padding-right: 15%;
}

.projects.py {
  padding-top: 15%;
  padding-bottom: 10%;
}

.projects .text {
  font-size: 1.2rem;
  color: #2c2f32;
  width: 55%;
  font-weight: 300;
}
.arrow {
  font-size: 35px;
  color: #ff6d2f;
}
.projects .orange-text,
.services .orange-text {
  color: #ff6d2f;
  font-weight: 600;
}
.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #8b9199;
}
.normal-text {
  color: #8b9199;
}
.talk-to {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1000px) {
  .projects .sticky-text {
    height: 410%;
  }
  .projects .text {
    font-size: 0.8rem;
    width: 80%;
  }
  .projects .sticky-text,
  .services .sticky-text {
    left: 3vw;
  }
  .arrow {
    font-size: 25px;
  }
  .projects .sticky-text h1 {
    font-size: 1.3rem;
  }
  .projects.ps {
    padding-left: 30%;
  }

  .projects.pe {
    padding-right: 0%;
  }
}
@media (max-width: 500px) {
  .projects .sticky-text {
    height: 500%;
  }
}

/* services  */

.marg {
  margin-bottom: 25%;
}

.services {
  background-color: #2c2f32;
}

.services.ps {
  padding-left: 25%;
}

.services.pe {
  padding-right: 15%;
}

.services.py {
  padding-top: 10%;
  padding-bottom: 10%;
}

.services .text {
  font-size: 1.2rem;
  color: #f2f2f2;
  width: 50%;
}
.services .sticky-text {
  height: 300%;
}

.pad-x {
  padding: 5rem 0rem;
}
.services .list {
  font-size: 1.2rem;
}
.services .list p {
  color: #ff6d2f;
  font-weight: 600;
}
.services ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #8b9199;
}
.services .last-text {
  font-size: 1.2rem;
  color: #8b9199;
  font-weight: 300;
}

@media only screen and (max-width: 1000px) {
  .services .text {
    font-size: 0.8rem;
    width: 60%;
  }
  .pad-x {
    padding: 2rem 0rem;
  }

  .services .sticky-text h1 {
    font-size: 1.3rem;
  }
  .services.ps {
    padding-left: 30%;
  }

  .services.pe {
    padding-right: 0%;
  }
  .services .sticky-text {
    height: 260%;
  }
  .services .list {
    font-size: 0.8rem;
  }
}
/* FOOTER  */

/* upper-footer   */

.upper-container {
  background-color: #2c2f32;
  width: 100%;
}
.form-field input {
  font-size: 30px;
}
.form-field textarea {
  font-size: 30px;
}
.upper-section-footer .text-start {
  font-size: 1.2rem;
}
.upper-section-footer .upper-text h2 {
  font-size: 2rem;
}
.label {
  font-size: 1.2rem;
}
.text {
  font-size: 0.8rem;
}
@media only screen and (max-width: 700px) {
  .upper-section-footer .text-start {
    font-size: 0.8rem;
  }
  .upper-section-footer .upper-text h2 {
    font-size: 1.2rem;
  }
  .text {
    font-size: 0.8rem;
  }
}
/* lower-footer */

.lower-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.lower-container .text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 100px 10px 100px;
}
.lower-container .text-row .row ul {
  list-style: none;
}

.lower-container .text-row .row ul {
  width: 120px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.lower-container .text-row .row ul li {
  display: inline-block;
}

.lower-container .text-row .row ul {
  padding: 0px;
}
.lower-container .text-row .row ul li {
  padding: 10px;
  color: #8b9199;
}
.start-form input,
.start-form textarea {
  background-color: #2c2f32;
  outline: none;
  color: white;
  padding: 4px 10px;
}

.lower-container .image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}
.lower-container .image-row img {
  height: 34px;
}
.lower-container .image-row p {
  font-weight: 600;
  color: white;
}

.start-form input {
  width: 18rem;
}
.start-form textarea {
  resize: none;
  width: 83%;
  border-style: inset;
  border-width: 2px;
}

@media only screen and (max-width: 500px) {
  .start-form input {
    width: 14rem;
  }
  .start-form textarea {
    resize: none;
    width: 79%;
  }
}
