@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");

* {
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: none;
  font-family: "Roboto", sans-serif;
}

/* cursor */
.cursor {
  pointer-events: none;
}

.cursor__ball--big {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball--small {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

circle {
  fill: #f2f2f2;
}

/* header section */
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
}

.heading-tech h1 {
  font-size: 40px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  padding: 12px;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 15px 0;
  }
}

/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 24px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.sidepanel .logo img {
  padding: 15px 0px;
  margin: 0;
  max-height: 40px;
}

/* The sidepanel links */
.sidepanel a {
  text-decoration: none;
  font-size: 25px;
  color: #2c2f32;
  display: block;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .sidepanel a {
    display: flex;
  }
}

@media (max-width: 768px) {
  .sidepanel .hidden-mobile {
    display: none;
  }
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

.side h3 {
  color: #ff6d2f;
  font-size: 2rem;
  font-weight: bold;
}

.closebtn {
  border: none;
  padding: 0px 100px;
}

@media (max-width: 768px) {
  .closebtn {
    padding: 0px 0px;
  }
}

.side {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero h2 {
  color: #ff6d2f;
  font-size: 45px;
  font-weight: 600;
}

#background-video {
  width: 100%;
  height: 120vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# info Section
--------------------------------------------------------------*/

.info {
  background-color: #000;
  padding-top: 400px;
  padding-bottom: 400px;
}

.animate {
  font-weight: 600;
  margin: auto;
  padding-left: 21%;
  padding-right: 20%;

  text-align: left;
  color: black;
  font-size: 45px;

  background-image: linear-gradient(
    -225deg,

    #c90492 0%,
    #ff2e00 50%,
    #c90492 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}
.animate {
  line-height: 1.7cm;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media only screen and (max-width: 1200px) {
  .animate {
    font-size: 2rem;
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .animate {
    font-size: 1.3rem;
  }
  .animate {
    line-height: 1.1cm;
  }
}
/* SOLUTIONS */
.solutions {
  background-color: #f2f2f2;
}

.solutions.ps {
  padding-left: 25%;
}

.solutions.pe {
  padding-right: 15%;
}

.solutions.py {
  padding-top: 10%;
  padding-bottom: 10%;
}

.solutions h1 {
  font-size: 2rem;
  line-height: 1.2cm;
  font-weight: 300;
  color: #2c2f32;
}

.solutions h1 span,
.orange-text {
  color: #ff6d2d;
  font-weight: 600;
}

.solutions .sticky-text,
.project .sticky-text,
.processes .sticky-text {
  position: absolute;
  overflow: visible;
  left: 11vw;
}

.solutions .sticky-text h1,
.project .sticky-text h1,
.processes .sticky-text h1 {
  font-size: 2rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #8b9199;
  position: sticky;
  top: 15%;
}
.solutions .sticky-text {
  height: 280%;
}
.solutions .solution-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 8rem 0;
}

.solution-card h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #2c2f32;
}
.redirect {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ff6d2f;
}
.solution-card p {
  color: #2c2f32;
  font-size: 1.2rem;
  font-weight: 300;
}

.solution-card i {
  color: #ff6d2f;
  font-size: 35px;
}

.solution-card img {
  max-width: 100% !important;
  height: auto;
}

.solutions i {
  color: #ff6d2f;
  font-size: 35px;
}
.solution-card .card {
  position: relative;
  height: 40vh;
  width: 40vh;
  cursor: pointer;
  box-shadow: none;
  overflow: hidden;
  background-color: transparent;
}
@media only screen and (max-width: 1000px) {
  .solutions .sticky-text {
    height: 260%;
  }
}
@media only screen and (max-width: 500px) {
  .solutions .sticky-text {
    height: 320%;
  }
}
@media only screen and (max-width: 850px) {
  .solutions.ps {
    padding-left: 20%;
  }
  .redirect {
    font-size: 0.8rem;
  }
  .solutions h1 {
    font-size: 1.3rem;
  }
  .solution-card h2 {
    font-size: 1.3rem;
  }
  .solution-card p {
    font-size: 0.8rem;
  }
  .solution-card h2 {
    margin-bottom: 1.3rem;
  }
  .solutions .pe {
    padding-right: 10%;
  }

  .solution-card i {
    color: #ff6d2f;
    font-size: 25px;
  }
  .solutions i {
    color: #ff6d2f;
    font-size: 25px;
  }

  .solutions h1 {
    font-size: 1.3rem;
    line-height: 0.8cm;
  }
  .solutions .sticky-text,
  .project .sticky-text,
  .processes .sticky-text {
    left: 3vw;
  }

  .solutions .sticky-text h1,
  .project .sticky-text h1,
  .processes .sticky-text h1 {
    font-size: 1.3rem;
    top: 12%;
  }
}

.card img {
  max-width: 100%;
  height: auto;
  scale: 1.2;
}

.card .human-light {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: -30px;
  width: 100%;
}
.card .human-human {
  position: absolute;
  z-index: 2;
  top: 90px;
  right: 0px;
  width: 80%;
}

.card .human-clock {
  position: absolute;
  z-index: 3;
  top: -70px;
  left: 10px;
  width: 90%;
}
.card .sustain-recy {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 75px;
  width: 80%;
}
.card .sustain-light {
  position: absolute;
  z-index: 1;
  top: -60px;
  left: -50px;
  width: 100%;
}
.card .sustain-earth {
  position: absolute;
  z-index: 3;
  top: -80px;
  left: 60px;
  width: 9 0%;
}
.card .sustain-solar {
  position: absolute;
  z-index: 4;
  top: 10px;
  left: 4px;
  width: 80%;
}

.card .tech-mob {
  position: absolute;
  z-index: 4;
  top: 54px;
  right: 80px;
  width: 50%;
}
.card .tech-light {
  position: absolute;
  z-index: 1;
  top: -50px;
  right: 20px;
  width: 99%;
}
.card .tech-earth {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: -45px;
  width: 100%;
}
.card .tech-wheel {
  position: absolute;
  z-index: 3;
  top: -35px;
  right: -56px;
  width: 80%;
}
/* animation for card */

.card > .human-clock {
  animation: floatleft 3s infinite alternate 0.2s;
}
.card > .human-human {
  animation: floatright 3s infinite alternate 1s;
}
.card > .human-light {
  animation: floatleft 3s infinite alternate 0.2s;
}
.card > .sustain-earth {
  animation: floatright 3s infinite alternate 1s;
}
.card > .sustain-light {
  animation: floatleft 3s infinite alternate 0.2s;
}
.card > .sustain-recy {
  animation: floatbottom 3s infinite alternate 1s;
}
.card > .sustain-solar {
  animation: floatleft 3s infinite alternate 0.2s;
}
.card > .tech-earth {
  animation: floatbottom 3s infinite alternate 1s;
}
.card > .tech-light {
  animation: floatleft 3s infinite alternate 0.2s;
}
.card > .tech-mob {
  animation: floatleft 3s infinite alternate 0.2s;
}
.card > .tech-wheel {
  animation: floatright 3s infinite alternate 1s;
}

@keyframes floatleft {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-20px, -20px);
    scale: 1.2;
  }
}
@keyframes floatright {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(20px, -20px);
    scale: 1.2;
  }
}
@keyframes floatbottom {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(20px, 20px);
    scale: 1.2;
  }
}

/* PROJECTS */

.project.ps {
  padding-left: 25%;
}

.project.pe {
  padding-right: 15%;
}

.padk {
  margin-bottom: 15rem;
}

.project.py {
  padding-top: 10%;
  padding-bottom: 10%;
}

.project {
  background-color: #2c2f32;
}
.project i {
  color: #ff6d2d;
  font-size: 35px;
}

.project-card .text {
  color: #8b9199;
  font-size: 1.2rem;
}
.project-card i {
  color: #ff6d2f;
  font-size: 35px;
}
.project .sticky-text {
  height: 510%;
}
@media only screen and (max-width: 1000px) {
  .project .sticky-text {
    height: 340%;
  }
}
@media only screen and (max-width: 500px) {
  .project .sticky-text {
    height: 380%;
  }
}
@media only screen and (max-width: 570px) {
  .project i {
    font-size: 25px;
  }
  .project.pe {
    padding-right: 4%;
  }
  .project.ps {
    padding-left: 13%;
  }
  .project-card .text {
    color: #f2f2f2;
    font-size: 0.8rem;
  }
  .project-card i {
    color: #ff6d2f;
    font-size: 25px;
  }
}

/* PROCESSES */
.processes {
  background-color: #f2f2f2;
}
.processes i {
  color: #ff6d2f;
  font-size: 35px;
}
.processes.ps {
  padding-left: 25%;
}

.processes.pe {
  padding-right: 15%;
}

.processes.py {
  padding-top: 10%;
  padding-bottom: 10%;
}

.processes h1 {
  font-size: 2rem;
  line-height: 1.2cm;
  font-weight: 300;
  color: #2c2f32;
}

.processes-card {
  margin: 10rem 0rem;
}
.processes-card h2 {
  font-size: 2rem;
  font-weight: 600;
}
.processes-card p {
  font-size: 1.2rem;
  font-weight: 300;
}
.processes .sticky-text {
  height: 210%;
}
.light-img {
  width: 30%;
  height: 250px;
}

@media only screen and (max-width: 850px) {
  .processes h1 {
    font-size: 1.3rem;
    line-height: 0.7cm;
  }
  .processes-card h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .processes-card p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 992px) {
  .processes .processes-card img {
    height: 210px;
    width: 250px;
    margin: auto;
  }
}
@media only screen and (max-width: 570px) {
  .processes.ps {
    padding-left: 20%;
  }
  .processes .processes-card img {
    height: 170px;
    width: 200px;
    margin: auto;
  }
  .processes h1 {
    font-size: 1.3rem;
    line-height: 0.8cm;
  }

  .solutions .pe {
    padding-right: 0%;
  }
  .processes-card {
    margin: 5rem 0rem;
  }

  .processes .sticky-text {
    height: 160%;
  }
}
@media only screen and (max-width: 1000px) {
  .processes .sticky-text {
    height: 160%;
  }
}
@media only screen and (max-width: 500px) {
  .processes .sticky-text {
    height: 200%;
  }
}
/* FOOTER  */

/* upper-footer   */

.upper-container {
  background-color: #2c2f32;
  width: 100%;
}
.form-field input {
  font-size: 30px;
}
.form-field textarea {
  font-size: 30px;
}
.upper-section-footer .text-start {
  font-size: 1.2rem;
}
.upper-section-footer .upper-text h2 {
  font-size: 2rem;
}
.label {
  font-size: 1.2rem;
}
.text {
  font-size: 0.8rem;
}
.upper-contact p {
  font-size: 1.2rem;
}
@media only screen and (max-width: 700px) {
  .upper-section-footer .text-start {
    font-size: 0.8rem;
  }
  .upper-section-footer .upper-text h2 {
    font-size: 1.2rem;
  }
  .upper-contact p {
    font-size: 0.8rem;
  }
  .text {
    font-size: 0.8rem;
  }
}
/* lower-footer */

.lower-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.lower-container .text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3% 10% 3% 10%;
}
.lower-container .text-row .row ul {
  list-style: none;
}

.lower-container .text-row .row ul {
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.lower-container .text-row .row ul li {
  display: inline-block;
}

.lower-container .text-row .row ul {
  padding: 0px;
}
.lower-container .text-row .row ul li {
  padding: 10px 0px;
  color: #8b9199;
}
.start-form input,
.start-form textarea {
  background-color: #2c2f32;
  outline: none;
  color: white;
  padding: 4px 10px;
}

.lower-container .image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}
.lower-container .image-row img {
  height: 34px;
}
.lower-container .image-row p {
  font-weight: 600;
  color: white;
}

.start-form input {
  width: 18rem;
}
.start-form textarea {
  resize: none;
  width: 83%;
  border-style: inset;
  border-width: 2px;
}

@media only screen and (max-width: 500px) {
  .start-form input {
    width: 14rem;
  }

  .start-form textarea {
    resize: none;
    width: 79%;
  }
}
/*
.sidepanel {
  display: flex;
  flex-direction: column;
}
.sidepanel .text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 100px 10px 100px;
}
.sidepanel .text-row .row ul {
  list-style: none;
}

.sidepanel .text-row .row ul {
  width: 250px;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 768px){
  .sidepanel .text-row .row ul {
    width: 150px;
  }
  .sidepanel .text-row .row ul a{
    font-size: 1.0rem;
  } 
}

.sidepanel .text-row .row ul a {
  display: inline-block;
  text-decoration: none;
  color: #2C2F32;
  transition:   0.3s;
}

.sidepanel .text-row .row ul {
  padding: 0px;
}
.sidepanel .text-row .row ul a {
  padding: 10px;
}

.text-row .ul .li .a .card-title{
color: #FF6D2F;
font-size: 2rem;
font-weight: bold;
}
*/
