@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");

* {
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: none;
  font-family: "Roboto", sans-serif;
}

/* cursor */
.cursor {
  pointer-events: none;
}
  
.cursor__ball--big {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball--small {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
    
  circle {
    fill: #f2f2f2;
  }
        



/* header section */
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
}

.heading-tech h1 {
  font-size: 40px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  padding: 12px;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 15px 0;
  }
}

 /* The sidepanel menu */
 .sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #F2F2F2; 
  overflow-x: hidden; 
  padding-top: 24px; 
  transition: 0.5s; 
}

.sidepanel .logo img {
  padding: 15px 0px;
  margin: 0;
  max-height: 40px;
}

/* The sidepanel links */
.sidepanel a {
  text-decoration: none;
  font-size: 25px;
  color: #2C2F32;
  display: block;
  transition:   0.3s;
}

@media (max-width: 768px) {
  .sidepanel .hidden-mobile{
    display: none;
  }
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

.side h3{
  color: #FF6D2F;
  font-size: 2rem;
  font-weight: bold;
}

.closebtn{
  border: none;
  padding: 0px 100px;
}

@media (max-width: 768px) {
  .closebtn {
    padding: 0px 0px;
  }
}

.side{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
}



/* Light page  */

/* head  */

.light-head {
  background-image: url(../../images/light/dark-gbe0fbf52a_1920\ 1.png);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.light-head .light-nav {
  padding-top: 600px;
}
.light-head .light-nav a:hover {
  color: #a6adb5;
}
.light-head .light-nav a,
.light-head .light-nav p {
  text-decoration: none;
  margin: 0px 60px;
  font-size: 2rem;
  color: #8b9199;
  font-weight: 550;
}

/* <!-- Light-full-journey --> */

.light-main {
  background-color: #2c2f32;
  padding-right: 20%;
  padding-left: 30%;
}
.light-main .sticky-text h1 {
  font-size: 2rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #8b9199;
  position: sticky;
  top: 15%;
}
.marg {
  margin-bottom: 25%;
}
.light-main .sticky-text {
  position: absolute;
  overflow: visible;
  height: 200%;
  left: 11vw;
  margin-top: 10rem;
}
.light-main .light-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.light-main .light-section .light-card {
  width: 55%;
}
.right-card {
  display: flex;
  justify-content: end;
}

.light-main .light-section .light-card p span {
  color: #eb642c;
}
.light-main .light-section .light-card p {
  color: #8b9199;
  font-size: 1.2rem;
}
.light-main .light-section .light-card h2 {
  font-weight: 600;
  color: #eb642c;
}
.arrow {
  font-size: 35px;
  color: #eb642c;
}
.light-main .sticky-text {
  height: 130%;
}
@media only screen and (max-width: 1000px) {
  .light-main .sticky-text {
    height: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .light-main .sticky-text {
    height: 80%;
  }
}
@media only screen and (max-width: 750px) {
  .light-main .sticky-text h1 {
    font-size: 1.3rem;
  }
  .light-head .light-nav a,
  .light-head .light-nav p {
    margin: 0px 20px;
  }

  .light-main .sticky-text {
    left: 3vw;
  }
  .arrow {
    font-size: 25px;
  }

  .light-head .light-nav a,
  .light-head .light-nav p {
    font-size: 1.3rem;
  }

  .light-main .light-section .light-card p {
    font-size: 0.8rem;
  }

  .light-main {
    padding-left: 20%;
  }
  .light-main .light-section .light-card {
    width: 230px;
  }

  .light-main .light-main-head p {
    margin: 0;
  }
  .right-card {
    display: flex;
    justify-content: start;
  }

  .light-main {
    display: flex;
    justify-content: space-evenly;
  }
}
/* FOOTER  */

/* upper-footer   */

.upper-container {
  background-color: #2c2f32;
  width: 100%;
}
.form-field input {
  font-size: 30px;
}
.form-field textarea {
  font-size: 30px;
}
.upper-section-footer .text-start {
  font-size: 1.2rem;
}
.upper-section-footer .upper-text h2 {
  font-size: 2rem;
}
.label {
  font-size: 1.2rem;
}
.text {
  font-size: 0.8rem;
}
@media only screen and (max-width: 700px) {
  .upper-section-footer .text-start {
    font-size: 0.8rem;
  }
  .upper-section-footer .upper-text h2 {
    font-size: 1.2rem;
  }
  .text {
    font-size: 0.8rem;
  }
}
/* lower-footer */

.lower-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.lower-container .text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 100px 10px 100px;
}
.lower-container .text-row .row ul {
  list-style: none;
}

.lower-container .text-row .row ul {
  width: 120px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.lower-container .text-row .row ul li {
  display: inline-block;
}

.lower-container .text-row .row ul {
  padding: 0px;
}
.lower-container .text-row .row ul li {
  padding: 10px;
  color: #8b9199;
}
.start-form input,
.start-form textarea {
  background-color: #2c2f32;
}

.lower-container .image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}
.lower-container .image-row img {
  height: 34px;
}
.lower-container .image-row p {
  font-weight: 600;
  color: white;
}

.start-form input {
  width: 18rem;
}
.start-form textarea {
  resize: none;
  width: 83%;
  border-style: inset;
  border-width: 2px;
}

@media only screen and (max-width: 500px) {
  .start-form input {
    width: 14rem;
  }
  .start-form textarea {
    resize: none;
    width: 79%;
  }
}
